{% extends 'TeamPicker/TeamPicker_base.html' %}
{% block body_block %}
<h2>
  <h4>
  Total Credit Used for Picking Dream Team: {{CREDIT_USED}} <br>
  </h4>
  <p><strong>Captain: {{ CAPTAIN }}</strong><br>
  <strong>Vice-Captain: {{ VICE_CAPTAIN }} </strong></p>
<div class="container table-responsive">
<table class="center table table-hover table-bordered table-sm">
  <!-- <caption>Dream Team Selected By VinDream</caption> -->
  <thread class="thead-dark">
    <th>Name</th>
    <th>Role</th>
    <th>Credit</th>
    <th>Team</th>
  </thread>
{% for i in WK %}
<tr>
  <td><strong>{{i.Name}}</strong></td>
  <td>{{i.Role}}</td>
  <td>{{i.Credit}}</td>
  <td>{{i.Team}}</td>
</tr>
{%endfor%}
{% for i in BAT %}
<tr>
  <td><strong>{{i.Name}}</strong></td>
  <td>{{i.Role}}</td>
  <td>{{i.Credit}}</td>
  <td>{{i.Team}}</td>
</tr>
{%endfor%}
{% for i in ALL %}
<tr>
  <td><strong>{{i.Name}}</strong></td>
  <td>{{i.Role}}</td>
  <td>{{i.Credit}}</td>
  <td>{{i.Team}}</td>
</tr>
{%endfor%}
{% for i in BOWL %}
<tr>
  <td><strong>{{i.Name}}</strong></td>
  <td>{{i.Role}}</td>
  <td>{{i.Credit}}</td>
  <td>{{i.Team}}</td>
</tr>
{%endfor%}
</table><br>
</div>
<h2>
<div class="Jumbotron">
  <form action=/vd/run/ method="post">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ id }}">
    <input class="btn btn-success" type="submit" value="Next Dream Team">
    <a class="btn btn-secondary" role="button" href="{% url 'Detail' pk=id  %}">Cancel</a>
  </form>
</div>
</h2>
</h2>
{% endblock %}
