{% extends 'TeamPicker/TeamPicker_base.html' %}
{% block body_block %}

<h1>
  Please Enter the Details of the Player
</h1>
<h1>
  {% if not form.instance.pk %}
  Player Details <br>
  {% else %}
  Update Player Details <br>
  {% endif %}
</h1>
<p></p>
<form  method="post">
  <div class="form-group align-items-center ">
    {% csrf_token %}
    {{ form.as_p }}
  </div>
  <div class="form-group align-items-center">
    <input class="btn btn-success" type="submit" value="Submit">
    <a class="btn btn-secondary" role="button" href="{% url 'TeamPicker:Team' %}">Cancel</a>
  </div>
</form>
{%if form.instance.pk %}
<div class="container">
  <form action=/vd/DeleteTeamPlayer/{{form.instance.pk}} method="post">
    {% csrf_token %}
    <p></p>
    <input class="btn btn-danger" onclick="return ConfirmPlayerDelete();" type="submit" value="Delete">
  </form>
</div>
{% endif %}
{% endblock %}
