<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <h1>Vinner Dreampicker</h1>
      <title>Dreampicker</title>
      <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
      <link rel="stylesheet"  href="{% static 'css/base.css' %}"/>
  </head>
  <body>
    <nav class="topnav">
      <div class="container">
          <a href="{% url 'index' %}">Home</a>
          <a href="{% url 'TeamPicker:Create' %}">CreateMatch</a>
          <a href="{% url 'TeamPicker:CreatePlayer' %}">CreatePlayer</a>
      </div>
    </nav>

    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>
  </body>
</html>
